__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
env/

db.sqlite3
*.sqlite3

project_data/
staticfiles/
media/

*.pt
*.onnx
*.tflite

.DS_Store

mobile/**/.gradle/
mobile/**/build/
mobile/**/local.properties

