SECRET_KEY=change-me
DEBUG=false
ALLOWED_HOSTS=detect.thesysm.com
CSRF_TRUSTED_ORIGINS=https://detect.thesysm.com
SERVICE_BASE_URL=https://detect.thesysm.com
DJANGO_SETTINGS_MODULE=theDetect.settings
APP_VERSION=prod
APP_BUILD_SHA=unknown
READINESS_CHECK_MIGRATIONS=1
STATIC_URL=/static/
STATIC_ROOT=/home/cskang/ganzskang/theDetect/staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=/home/cskang/ganzskang/theDetect/project_data
PROJECT_DATA_DIR=/home/cskang/ganzskang/theDetect/project_data
MDETECT_EXPORT_YOLO_BIN=/home/cskang/miniconda3/envs/mdetect-export/bin/yolo
SECURE_SSL_REDIRECT=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=true
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
USE_X_FORWARDED_HOST=true
